/* Home Page Stylesheet */

html {
	min-height: 100%;
}

#headshot {
	align: "middle";
	width: 425px; 
	height: 500px;
}

body {
	margin-left: 2cm;
	margin-right: 2cm;
	text-align: center;
	font-family: sans-serif;
	background-image: url("./studying_image.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 120%;
	overflow-y: visible;
}

h1 {
	text-align: center;
}

p {
	text-align: center;
}

table {
	margin-top: 1.5cm;
	width: 50%;
	float: left;
}
caption {
	font-weight: bold;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tr {
	text-align: center;
}

.col_titles {
	colspan: 2;
}

a:active {
	color: deepskyblue;
}
a:link {
	color: deepskyblue;
}
a:visited {
	color: dimgray;
}
a:hover {
	color: black;
}


.list_head {
	font-weight: bold;
	text-align: center;
}

#hobbies {
	float: right;
	margin-right: 3cm;
}

#tv_shows {
	float: right;
}

#edu_jobs {
	clear: right;
	clear: left;
	margin-top: 3cm;
	float: left;
}

#quote1 {
	width: 30%;
	float: right;
	clear: right;
	border: 2px outset darkgray;
	margin-top: 3cm;
	font-size: 20px;
}
#otherlinks {
	clear: right;
	clear: left;
	float: center;
}